@model TallinnaRakenduslikKolledz.Models.Student

@{
	ViewData["Title"] = "Kustuta õpilane";
}

<h1>Kustuta õpilane</h1>
<h3>
	Kas oled kindel, et tahad õpilast @Model.FirstName @Model.LastName eemaldada?
</h3>
<div>
	<h4>Õpilane @Model.FirstName @Model.LastName</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.EnrollmentDate)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.EnrollmentDate)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Age)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Age)</dd>
	</dl>

	@if (Model.Enrollments != null)
	{
		foreach (var courseEnrollment in Model.Enrollments)
		{
			<dl class="row">
				<dd class="col-sm-10">@(courseEnrollment)</dd>
			</dl>
		}
	}

	@if (Model.Gender != null)
	{
		@Model.Gender;
	}

	@if (Model.Group != null)
	{
		@Model.Group;
	}

</div>

<form asp-action="Delete">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" value="Kustuta õpilane" class="btn btn-danger"/> | <a asp-action="Index">Tühista</a>
</form>