@model TallinnaRakenduslikKolledz.Models.Course

@{
	ViewData["Title"] = "Kustuta kursus";
}

<h2>@Html.DisplayFor(modelItem => Model.Title)</h2>

@if (ViewBag.action == "Delete")
{
	<P>
		<h3>Kustuta kursus:</h3>
	</P>
}
else
{
	<p>
		<h3>Kursuse andmed</h3>
	</p>
}
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.CourseId)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.CourseId)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Title)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Title)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Credits)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Credits)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Department)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Department)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Enrollments)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Enrollments)</dt>
	</dl>
	@if (ViewBag.action == "Delete")
	{
		<form asp-action="Delete">
			<input type="hidden" asp-for="CourseId" />
			<input type="submit" value="Kustuta" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
		</form>
	}
</div>