@model TallinnaRakenduslikKolledz.Models.Department

@{
	ViewData["Title"] = "Kustuta osakond";
}

<h2>@Html.DisplayFor(modelItem => Model.Name)</h2>

@if (ViewBag.action == "Delete")
{
	<P>
		<h3>Kustuta osakond:</h3>
	</P>
}
else
{
	<p>
		<h3>Osakonna andmed</h3>
	</p>
}
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.DepartmentID)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.DepartmentID)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.IsActive)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.IsActive)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.EndDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.EndDate)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.PhoneNumber)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.PhoneNumber)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.InstructorID)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.InstructorID)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.StartDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.StartDate)</dt>
	</dl>
	@if (ViewBag.action == "Delete")
	{
		<form asp-action="Delete">
			<input type="hidden" asp-for="RowVersion"/>
			<input type="hidden" asp-for="DepartmentID" />
			<input type="submit" value="Kustuta" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
		</form>
	}
</div>